<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/67e32891-ba5f-46ff-bfb7-112431578b39/resourceGroups/epm-perp-epmperpj10t8/providers/Microsoft.Web/sites/RecipeManagementServices</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://recipemanagementservices-fubebtdbhjgng6ay.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>926018f4-e5ab-4191-8533-977437af2d6c</ProjectGuid>
    <PublishUrl>https://recipemanagementservices-fubebtdbhjgng6ay.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$RecipeManagementServices</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>